<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<div class="card h-100">
  <div class="card-header">
    <h1 class="card-title">Check English</h1>
  </div>
  <div class="card-body d-flex flex-column gap-3 h-100">
    <chat-gpt-token-editor></chat-gpt-token-editor>
    <div class="h-100 d-flex flex-column">
      <mat-form-field appearance="fill" class="fill-container no-padding">
        <textarea
          focusOnInit
          matInput
          [(ngModel)]="leftText"
          placeholder="Enter text"
          [style.resize]="'none'"></textarea>
      </mat-form-field>
      <div
        class="h-100 mt-3 d-flex d-flex justify-content-center
        align-items-center"
        *ngIf="!loaderHidden">
        <mat-spinner></mat-spinner>
      </div>
      <ngx-monaco-diff-editor
        class="h-100 mt-3"
        *ngIf="!diffHidden"
        [options]="codeEditorOptions"
        [originalModel]="originalModel"
        [modifiedModel]="modifiedModel">
      </ngx-monaco-diff-editor>
    </div>
  </div>
</div>
