<div class="card h-100">
    <div class="card-header">
        <h1 class="card-title">
            <div class="d-flex justify-content-between">
                <div class="mr-auto p-2">
                    Diff Text 
                </div>
                <div class="p-2">
                    <mat-slide-toggle [(ngModel)]="wrapText"  (change)="onWrapToggleChange()">
                        Wrap
                    </mat-slide-toggle>
                </div>
            </div>
        </h1>
    </div>
    <div class="card-body d-flex flex-column gap-3 h-100">
        <div class="h-100 d-flex flex-column">
            <ngx-monaco-diff-editor  (onInit)="onInitEditor($event)" class="h-100 mt-3" [options]="codeEditorOptions" [originalModel]="originalModel"
                [modifiedModel]="modifiedModel">
            </ngx-monaco-diff-editor>
        </div>
    </div>
</div>