/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
@import "common-types.scss";
@import "fixing.scss";
@import "theme.scss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body-transition {
  transition: background-color 0.1s, color 0.1s;
}
