@use "@angular/material" as mat;
@include mat.core();

$bg-color: #1e1e1e;

$my-custom-accent: mat.define-palette(mat.$pink-palette, 100, 300, A700);
$my-custom-primary: mat.define-palette(mat.$pink-palette, A700, A700, A700);
$my-custom-warn: mat.define-palette(mat.$red-palette);

$my-custom-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-custom-primary,
      accent: $my-custom-accent,
      warn: $my-custom-warn,
    ),
  )
);
@include mat.all-component-themes($my-custom-light-theme);

.dark-theme {
  $my-custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
  $my-custom-primary: mat.define-palette(mat.$teal-palette, A700, A700, A700);
  $my-custom-warn: mat.define-palette(mat.$red-palette);

  $my-custom-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $my-custom-primary,
        accent: $my-custom-accent,
        warn: $my-custom-warn,
      ),
    )
  );
  @include mat.all-component-colors($my-custom-dark-theme);
}

.dark-theme .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: $bg-color;
}
