<div class="card h-100">
    <div class="card-header">
        <h1 class="card-title">Json Format</h1>
    </div>
    <div class="card-body d-flex flex-column gap-3 h-100">
        <div class="btn-group">
            <button class="btn" mat-raised-button color="primary" (click)="format()">Format</button>
        </div>
        <mat-form-field appearance="fill" class="fill-container">
            <textarea matInput [(ngModel)]="text" placeholder="Enter text" [style.resize]="'none'"></textarea>
        </mat-form-field>
    </div>
</div>