@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.navbar {
  background:
    /* top, transparent black, faked with gradient */
    linear-gradient(rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2));

  .dropdown-button-item {
    width: 100%;
  }

  .navbar-collapse {
    .dropdown-menu {
      border-radius: var(--mdc-protected-button-container-shape,
          var(--mdc-shape-small, 4px));
    }

    ul {
      @extend .mat-app-background !optional;
    }
  }
}

@include media-breakpoint-down(md) {
  .force-width {
    width: 100% !important;
  }

  .wide-changer {
    display: none;
  }
}