.navbar {
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2));

    a {
        color: inherit;
        border-radius: var(--mdc-protected-button-container-shape, var(--mdc-shape-small, 4px));
    }

    .navbar-collapse {
        .dropdown-menu {
            border-radius: var(--mdc-protected-button-container-shape, var(--mdc-shape-small, 4px));
        }

        a {
            color: inherit;
        }

        a:hover {
            background:
                linear-gradient(rgba(0, 0, 0, 0.3),
                    rgba(0, 0, 0, 0.3));
        }

        ul {
            @extend .mat-app-background !optional;
        }
    }
}