<div class="card h-100">
    <div class="card-header">
        <h1 class="card-title">Quiz request</h1>
    </div>
    <div class="card-body d-flex flex-column gap-3 h-100">
        <div>
           <mat-form-field class="example-full-width mx-2">
               <mat-label>Session response</mat-label>
               <input matInput placeholder="Json with token" [(ngModel)]="apiSessionResponse">
           </mat-form-field>
            <span class="d-inline-block align-middle mx-2">
                For getting response use <a target="_blank" href="https://chat.openai.com/api/auth/session">this</a>
                link
            </span>
        </div>
        <div class="btn-group" *ngIf="loaderHidden && quizHidden">
            <button class="btn" mat-raised-button color="primary" matTooltip="CMD/Alt + Shift + C"
                (click)="generateQuiz()">Generate quiz</button>
        </div>
        <div class="h-100 d-flex flex-column" *ngIf="quizHidden">
            <mat-form-field appearance="fill" class="fill-container no-padding" *ngIf="loaderHidden">
                <textarea focusOnInit matInput [(ngModel)]="quizText" placeholder="Enter text"
                    [style.resize]="'none'"></textarea>
            </mat-form-field>
            <div class="h-100 mt-3 d-flex d-flex justify-content-center align-items-center" *ngIf="!loaderHidden">
                <mat-spinner></mat-spinner>
            </div>
        </div>
        <div *ngIf="!quizHidden">
            <app-quiz-viewer [quiz]="quiz"></app-quiz-viewer>
        </div>

    </div>
</div>