<ng-keyboard-shortcuts [shortcuts]="shortcuts"></ng-keyboard-shortcuts>
<div class="card h-100">
  <div class="card-body d-flex flex-column gap-3 h-100">
    <div class="btn-group">
      <button class="btn" mat-raised-button color="primary" matTooltip="CMD/Ctrl + Alt + F" (click)="jsonFormat()">
        Json format
      </button>
      <button class="btn" mat-raised-button color="primary" matTooltip="CMD/Ctrl + Alt + U" (click)="toUpperCase()">
        Upper Case
      </button>
      <button class="btn" mat-raised-button color="primary" matTooltip="CMD/Ctrl + Alt + L" (click)="toLowerCase()">
        Lower Case
      </button>
      <button class="btn" mat-raised-button color="primary" matTooltip="CMD/Ctrl + Alt + I" (click)="invertCase()">
        Invert Case
      </button>
      <button class="btn" mat-raised-button color="primary" matTooltip="CMD/Ctrl + Alt + P" (click)="pdfFormat()">
        Pdf format
      </button>
    </div>
    <ngx-monaco-editor focusOnInit #monacoEditor [options]="codeEditorOptions" [(ngModel)]="text"
      class="h-100"></ngx-monaco-editor>
  </div>
</div>