<div class="card h-100">
    <div class="card-header">
        <h1 class="card-title">Text Format</h1>
    </div>
    <div class="card-body d-flex flex-column gap-3 h-100">
        <div class="btn-group">
            <button
                class="btn"
                mat-raised-button
                color="primary"
                matTooltip="CMD/Alt + Shift + U"
                (click)="toUpperCase()">
                Upper Case
            </button>
            <button
                class="btn"
                mat-raised-button
                color="primary"
                matTooltip="CMD/Alt + Shift + L"
                (click)="toLowerCase()">
                Lower Case
            </button>
            <button
                class="btn"
                mat-raised-button
                color="primary"
                matTooltip="CMD/Alt + Shift + C"
                (click)="invertCase()">
                Invert Case
            </button>
            <button
                class="btn"
                mat-raised-button
                color="primary"
                matTooltip="CMD/Alt + Shift + F"
                (click)="pdfFormat()">
                Pdf format
            </button>
        </div>
        <mat-form-field appearance="fill" class="fill-container no-padding">
            <textarea
                focusOnInit
                matInput
                [(ngModel)]="text"
                placeholder="Enter text"
                [style.resize]="'none'"></textarea>
        </mat-form-field>
    </div>
</div>
